<div class="box">
    <div class="row">

        <!-- left -->
        <div class="col-sm-3">
            <div class="box-content">
                <!-- title -->
                <div class="text-center">
                    <h3>Skills Offered</h3>
                </div>
                <!-- /title -->

                <!-- skills offered list -->
                <ul class="tick">
                    <li>Interior House Painting</li>
                    <li>Exterior House Painting</li>
                    <li>Apartment Painting</li>
                    <li>Wallpaper Hanging</li>
                    <li>Wallpaper Removing</li>
                    <li>Staining</li>
                    <li>Wall Repair</li>
                    <li>Wall Murals</li>
                    <li>Faux Painting</li>
                    <li>Kitchen Cabinets Painting</li>
                    <li>Wood Floor Painting</li>
                    <li>Deck Staining</li>
                    <li>Spray Painting</li>
                    <li>Graffity Removal</li>
                    <li>And more!</li>
                </ul>
                <!-- /skills offered list -->

                <!-- bucket image -->
                <br />
                <img class="center-block" height=100 src="../img/bucket.png" />
            </div>
        </div>
        <!-- /left -->

        <!-- right -->
        <div class="vertical col-sm-9">
            <div class="box-content">
                <!-- title -->
                <div class="text-center">
                    <h3>So Why Choose Me?</h3>
                </div>
                <!-- /title -->

                <div class="row">
                    <!-- left -->
                    <div class="col-sm-6">
                        <ul>
                            <li><h4>QUALITY</h4> I understand how important quality is for you because I would expect the same if I was in your shoes.</li>
							<li><h4>HONESTY</h4> I am sure you will find a trustworthy person in me. When I say I will be there at 8:30 I will. When I say I will finish the work in 4-5 days, I will do our best to finish it in 4 days. When I say the price is such and such, it is.</li>
							<li><h4>CARE</h4> Your property and values in it are in the good hands. I am taking special care to protect your possessions during my work, to be able to leave the property as I found it.</li>
                        </ul>
                    </div>
                    <!-- /left -->

                    <!-- right -->
                    <div class="col-sm-6">
                        <ul>
							<li><h4>KNOWLEDGE</h4> My team is created only from qualified, skilled painters and decorators.</li>
                            <li><h4>COMMITMENT</h4> I promise to work on consecutive days until the job is done completely.</li>
							<li><h4>VALUE</h4> I personally guarantee that you will get good value for your money.</li>
                            <li><h4>DEADLINES</h4> Deadline is always set. I understand how important it is for you to have your property fresh and ready again as quickly as possible. I promise to do my best to meet the deadlines, however unexpected situations sometimes do happen. I hope you understand.</li>
                        </ul>
                    </div>
                    <!-- /right -->
                </div>
            </div>
        </div>
        <!-- /right -->
    </div>
</div>